.dropdown:hover .dropdown-menu {
    display: block;
}

.btn_instagram {
    width: 159px;
    height: 45px;
    text-align: center;
    border-radius: 9px;
    background-image: linear-gradient(266deg, #4e60d3, #913baf 35%, #d52d88 68%, #f26d4f);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .11);
    color: #fff;
    font-weight: 700;
    display: inline-block;
    font-size: 12px;
    font-size: .857rem;
    line-height: 45px;
}

.c-checkout-contact__badge {
    width: 41px;
    height: 41px;
    background-color: rgb(243, 254, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 9px 0px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(141, 212, 221);
    border-image: initial;
    border-radius: 50%;
}

.c-checkout-contact__badge::before {
    content: "\2713";
    font-size: 25px;
    position: absolute;
    right: 11px;
    top: 5px;
    left: 13px;
    color: rgb(0, 191, 214);
}

.checkout-btn {
    font-family: IRANSansWeb;
    background-color: #ededed;
    color: #6d6d6d;
    border-radius: 3px;
    font-size: 1rem;
}

.c-checkout-steps {
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto 18px;
    list-style: none;
    padding: 0;
    color: #a0a0a0;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 783px;
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
}

element.style {
}

.c-checkout-steps li:first-of-type {
    margin-left: 0;
}

.c-checkout-steps li {
    position: relative;
    z-index: 1;
}

.c-checkout-steps li.is-completed .c-checkout-steps__item {
    background-color: #00bfd6;
}

.c-checkout-steps__item {
    position: relative;
    text-align: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #d0d0d0;
    z-index: 1;
}

.c-checkout-steps__item:after {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    content: attr(data-title);
    white-space: nowrap;
}

.c-checkout-steps li.is-active {
    color: #00bfd6;
}

.c-checkout-steps li.is-completed {
    color: #00bfd6;
}

.c-checkout-steps li:before {
    content: "";
    position: absolute;
    width: 372px;
    height: 3px;
    border-radius: 3.5px;
    background-color: #d0d0d0;
    top: 50%;
    left: 10px;
    z-index: 0;
    transform: translateY(-50%);
}

.dropdown-toggle-cart::after {
    display: inline-block;
    margin-left: .255em;
    border-top: .3em solid;
    margin-right: 30px;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.count-cart {
    background-color: #fff;
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 28px;
    vertical-align: middle;
    letter-spacing: -.3px;
    text-align: center;
    color: #00bfd6;
    border-radius: 100%;
    display: block;
    margin-right: 5px;
}

.banner {
    display: block;
    min-height: 200px;
    width: 100%;
    position: relative;
}

/*Add custom cursor so it auto inherits font styles*/
.title::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.title-cursor {
    opacity: 0;
    display: none;
}

.sub-title::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.sub-title-cursor {
    opacity: 0;
    display: none;
}

/*Custom cursor animation*/
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btns {
    display: block;
    width: 400px;
    margin: 0;
    padding: 30px 0 0 30px;
}

.btns a {
    display: inline-block;
    margin-left: 5px;
}

.btns a:first-child {
    margin-left: 0
}

.btn {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ecf0f1;
    text-decoration: none;
}

a .btn {
    cursor: pointer;
    border: 1.5px solid #ecf0f1;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    list-style-type: none;
    transition: all .3s;
}

.btn:hover {
    background: #ecf0f1;
    color: #34495e;
}

.c-header__search {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    transition: .3s cubic-bezier(.17, .67, .49, .93);
    -ms-flex: 0 0 calc(100% - 155px - 370px);
    flex: 0 0 calc(100% - 155px - 370px);
    /*max-width: calc(100% - 155px - 370px);*/
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 50px;
    padding-left: 50px;
}
.c-search {
    position: relative;
    padding-left: 60px;
    height: 100%;
}
.c-search input {
    width: 100%;
    border-radius: 0 7px 7px 0;
    background-color: #eceff1;
    border: 1px solid #d5dadd;
    color: #474747;
    font-weight: 300;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    padding: 5px 5px 4px;
    z-index: 51;
    position: relative;
}
.c-search__button {
    width: 60px;
    height: 100%;
    background-color: #ef5661;
    border-radius: 7px 0 0 7px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.c-search__button:before {
    content: "\E090";
    font-size: 25px;
    font-size: 1.786rem;
    line-height: 30px;
    height: 27px;
    color: #fff;
}
.c-search__results {
    position: absolute;
    background: #fff;
    left: 60px;
    right: 0;
    top: 100%;
    z-index: 50;
    border-top: 1px solid #e7e7e7;
    overflow: hidden;
    border-radius: 0 0 7px 7px;
    display: none;
    box-shadow: 0 -4px 8px 0 rgba(0,0,0,.3);
    padding: 10px 15px;
}
.c-search__results-list--autosuggest {
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #eceff1;
}
.c-search__results-list {
    letter-spacing: -.4px;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    list-style: none;
    display: none;
    font-weight: 700;
}